@tailwind base;
@tailwind components;
@tailwind utilities;

div,
html,
p,
span,
a {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#root {
  height: 100vh;
}

.clamp-3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* 3줄까지만 표시 */
  overflow: hidden; /* 나머지 줄 숨기기 */
  text-overflow: ellipsis; /* 숨긴 부분에 ... 처리 */
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

body {
  overflow: hidden !important;
}
